<div class="top-bar">
  <!-- Company Name -->
  
  <!-- Hamburger Icon -->
  <button class="hamburger" (click)="onToggleSidebar()">&#9776;</button>
  <div class="company-name">
    Indiminds Technologies
  </div>

  <!-- Right Section: Profile Logo and Welcome Message -->
  <div class="top-bar-right">
    <img
      src="./images/3293466.png"
      alt="Profile Logo"
      class="profile-logo"
    />
    <span *ngIf="employeeFullName" class="welcome-text">
      Welcome, {{ employeeFullName }}
    </span>
  </div>
</div>
