<!-- TopBar: Displayed at the top -->
<app-topbar (toggleSidebar)="toggleSidebar()"></app-topbar>

<app-sidebar
  [isOpen]="isSidebarOpen"
  (isOpenChange)="isSidebarOpen = $event"
></app-sidebar>

<div class="payslip-container">
    <h2>Employee Payslip</h2>

    <!-- Show Error Message -->
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

    <div *ngIf="payslipData" class="payslip-card">
      <p><strong>Employee ID:</strong> {{ payslipData.employeeId }}</p>
      <p><strong>Name:</strong> {{ payslipData.employeeName }}</p>
      <p><strong>Salary Month:</strong> {{ payslipData.salaryMonth }}</p>
      <hr />
      <p><strong>Basic Pay:</strong> ₹{{ payslipData.basicPay | number }}</p>
      <p><strong>Deductions:</strong> ₹{{ payslipData.deductions | number }}</p>
      <p class="net-salary"><strong>Net Salary:</strong> ₹{{ payslipData.netSalary | number }}</p>
    </div>
</div>
